# Connect Mobile App Configuration Template
# For Android Emulators, use 10.0.2.2 to refer to your computer's localhost.
# For iOS/Default, use localhost.

API_URL_ANDROID=http://10.0.2.2:5000/api
API_URL_IOS=http://localhost:5000/api

SOCKET_URL_ANDROID=http://10.0.2.2:5000
SOCKET_URL_IOS=http://localhost:5000
